<div class="columns db-container">
  <div class="colum is-two-fifths px-6 pt-5 side-menu">
    <aside class="menu">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'PERSONAL_INFO' }"
            (click)="changeTab('PERSONAL_INFO')"
            >Personal Info</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'SETTINGS' }"
            (click)="changeTab('SETTINGS')"
            >Profile</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'COMMISION' }"
            (click)="changeTab('COMMISION')"
            >Commision precentage</a
          >
        </li>
      </ul>
      <p class="menu-label">Users</p>
      <ul class="menu-list">
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'COTTAGE_OWNERS' }"
            (click)="changeTab('COTTAGE_OWNERS')"
            >Cottage owners</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'BOAT_OWNERS' }"
            (click)="changeTab('BOAT_OWNERS')"
            >Boat owners</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'INSTRUCTORS' }"
            (click)="changeTab('INSTRUCTORS')"
            >Fishing instructors</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'CLIENTS' }"
            (click)="changeTab('CLIENTS')"
            >Clients</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'REGISTRATION_REQUESTS' }"
            (click)="changeTab('REGISTRATION_REQUESTS')"
            >Registration requests</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ 'is-active': activeTab === 'DELETE_ACCOUNT_REQUESTS' }"
            (click)="changeTab('DELETE_ACCOUNT_REQUESTS')"
            >Delete Account Requests</a
          >
        </li>
        <li *ngIf="admin.email=='admin@fishing.com'">
          <a
            [ngClass]="{ 'is-active': activeTab === 'ADD_ADMIN' }"
            (click)="changeTab('ADD_ADMIN')"
            >Add administrator</a
          >
        </li>
        <li>
          <div class="mt-4">
            <p class="menu-label">Rental Products</p>
            <ul>
              <li>
                <a
                  [ngClass]="{ 'is-active': activeTab === 'COTTAGES' }"
                  (click)="changeTab('COTTAGES')"
                  >Cottages</a
                >
              </li>
              <li>
                <a
                  [ngClass]="{ 'is-active': activeTab === 'BOATS' }"
                  (click)="changeTab('BOATS')"
                  >Boats</a
                >
              </li>
              
            </ul>
          </div>
        </li>
      </ul>
      
    </aside>
  </div>

  <div class="column db-content">
    <div class="hero is-primary">
      <div class="hero-body">
        <p class="title">Welcome, {{ admin.name }} {{ admin.lastName }}</p>
        <p class="subtitle">Admin Dashboard</p>
      </div>
    </div>
    <div class="m-5">
      <div *ngIf="activeTab == 'PERSONAL_INFO'">
        <app-admin-persona-info ></app-admin-persona-info>
      </div>
      <div *ngIf="activeTab == 'SETTINGS'">
        <app-admin-settings></app-admin-settings>
      </div>
      <div *ngIf="activeTab == 'COMMISION'">
        <app-commision-precentage></app-commision-precentage>
      </div>
      <div *ngIf="activeTab == 'COTTAGE_OWNERS'">
        <app-cottage-owner-list></app-cottage-owner-list>
      </div>
      <div *ngIf="activeTab == 'BOAT_OWNERS'">
        <app-boat-owners></app-boat-owners>
      </div>
      <div *ngIf="activeTab == 'INSTRUCTORS'">
        <app-fishin-instructors-list></app-fishin-instructors-list>
      </div>
      <div *ngIf="activeTab == 'CLIENTS'">
        <app-clients></app-clients>
      </div>
      <div *ngIf="activeTab == 'REGISTRATION_REQUESTS'">
        <app-registration-request></app-registration-request>
      </div>
      <div *ngIf="activeTab == 'DELETE_ACCOUNT_REQUESTS'">
        <app-delete-account-requests></app-delete-account-requests>
      </div>
      <div *ngIf="activeTab == 'COTTAGES'">
        <app-cottage-list></app-cottage-list>
      </div>
      <div *ngIf="activeTab == 'BOATS'">
        <app-boat-list></app-boat-list>
      </div>
      <div *ngIf="activeTab == 'PAST_FISHING'">
        <client-past-fishing [user]="admin"></client-past-fishing>
      </div>
      <div *ngIf="activeTab=='ADD_ADMIN' && admin.email=='admin@fishing.com'">
        <app-add-admin></app-add-admin>
      </div>
      
    </div>
  </div>
</div>