<section class="hero is-info is-large hero-main">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Your superb adventure starts today!</h1>
      <p class="subtitle">Planning taken to perfection.</p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a href="#overview">Overview</a>
          </li>
          <li>
            <a href="#cottages">Cottages</a>
          </li>
          <li>
            <a href="#boats">Boats</a>
          </li>
          <li>
            <a href="#adventures">Adventures</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div id="overview" class="container block p-6 mt-6 mb-6">
  <div class="content is-medium has-text-centered">
    <h1>Fishing Booker</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan,
      metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum
      justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio,
      sollicitudin vel erat vel, interdum mattis neque.
    </p>
  </div>
  <div class="columns is-8 is-variable mt-6">
    <div class="column block content">
      <h4>Outstanding experience</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan,
        metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum
        justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio,
        sollicitudin vel erat vel, interdum mattis neque.
      </p>
    </div>
    <div class="column block content">
      <h4>Ease of Use</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan,
        metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum
        justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio,
        sollicitudin vel erat vel, interdum mattis neque.
      </p>
    </div>
  </div>
</div>

<div id="cottages" class="has-background-blue block p-6 mt-6 mb-6">
  <div class="container content is-medium">
    <h1>Cottages</h1>
    <hr />
    <div *ngIf="cottages.length == 0">
      <p>No Cottages Found.</p>
    </div>
    <div class="columns">
      <div class="column" *ngFor="let cottage of cottages.slice(0, 4)">
        <cottage-card [id]="cottage.id"></cottage-card>
      </div>
    </div>
  </div>

  <div class="has-text-centered mt-6">
    <a href="/cottages" class="button is-primary">View all</a>
  </div>
</div>

<hero-title
  id="boats"
  title="Boat Reservations"
  subtitle="Fascinating adventures on water"
  image="/assets/images/boat.jpg"
></hero-title>

<div class="container max-width-800 my-6">
  <div class="columns is-8 is-variable is-vcentered">
    <div class="column content has-text-justified">
      <h2>Experience the waters</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus
        sapien et bibendum porttitor. Vestibulum scelerisque porttitor lacus ut
        vehicula. Nulla et dui eget ante hendrerit imperdiet hendrerit vehicula
        lorem. Praesent euismod egestas urna iaculis vestibulum. Etiam in odio
        at justo molestie mattis at eget mauris. Vivamus hendrerit sapien nisi,
        non cursus tortor bibendum et. <br />
        <br />
        Pauris viverra commodo orci in ornare. Sed semper, dui at suscipit
        tincidunt, dolor purus ultricies odio, quis elementum risus est vel
        nibh. Nunc consectetur dui dolor. Phasellus viverra egestas purus, vitae
        maximus tortor accumsan nec. Proin orci justo, sodales vitae libero
        quis, laoreet aliquam massa. Morbi congue ac urna vel condimentum.
      </p>
      <a href="/boats" class="button is-primary mt-6">View all boats</a>
    </div>
    <div class="column">
      <figure class="image is-1by1">
        <img src="/assets/images/boat2.jpg" class="is-rounded" />
      </figure>
    </div>
  </div>
  <gap height="80"></gap>
  <hr class="my-5" />
</div>

<div class="block my-6 mx-6">
  <div class="columns">
    <div *ngIf="boats.length == 0">
      <p>No Boats Found.</p>
    </div>
    <div class="column" *ngFor="let boat of boats.slice(0, 4)">
      <boat-card [id]="boat.id"></boat-card>
    </div>
  </div>
  <gap height="80"></gap>
</div>

<section id="adventures" class="hero is-large is-info hero-fishing">
  <div class="hero-body">
    <div class="container max-width-800">
      <div class="columns is-variable is-8 has-text-justified is-vcentered">
        <div class="column">
          <p class="title">Fishing Adventures</p>
          <p class="subtitle">Professional Instructors</p>
          <p>
            Donec vitae felis pulvinar, sodales felis vitae, elementum quam. In
            non ipsum risus. Donec ullamcorper rhoncus leo et tempus. Praesent a
            blandit eros. Nullam placerat tincidunt elit, eget pulvinar arcu
            commodo a. Suspendisse a nisl diam. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Quisque
            felis nulla, facilisis id quam et, tempus sollicitudin diam. Donec
            eget magna sit amet neque condimentum euismod. <br />
            <br />

            Morbi id dui eu enim varius aliquam. Proin cursus sodales purus, ac
            consequat sapien rhoncus et. Quisque vulputate dictum odio, quis
            scelerisque ex porttitor vel. Ut tristique sit amet neque nec
            ullamcorper. Nam at eros velit. Curabitur nec libero quis quam
            rhoncus cursus. Vivamus feugiat nunc eu eros tincidunt, vel
            venenatis felis euismod. Aenean porttitor laoreet eros at consequat.
            Praesent elit orci, sodales a mattis sit amet, tincidunt id est.
            Fusce et malesuada nunc.
          </p>
          <a class="button is-info mt-6" href="/fishing">
            FIND YOUR ADVENTURE TODAY!
          </a>
        </div>
        <div class="column columns">
          <div class="column">
            <adventure-card
              *ngIf="boats[0]"
              [id]="boats[0].id"
            ></adventure-card>
            <gap height="20"></gap>
            <adventure-card
              *ngIf="boats[1]"
              [id]="boats[1].id"
            ></adventure-card>
          </div>
          <div class="column">
            <adventure-card
              *ngIf="boats[2]"
              [id]="boats[2].id"
            ></adventure-card>
            <gap height="20"></gap>
            <adventure-card
              *ngIf="boats[3]"
              [id]="boats[3].id"
            ></adventure-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
