<div class="container">

    <div class="column" *ngFor='let request of registrationRequests'>
        <div class="card">
            <div class="card-content">
              <p class="subtitle">
                User Details
              </p>
              <div>
                  <p>Name:{{request.name}}</p>
                  <p>Last Name:{{request.lastName}}</p>
                  <p>Mail:{{request.mail}}</p>
                  <p>User Type:{{request.userType}}</p>
              </div>
              <div>
                <div style="margin-top:20px"></div>
                <p class="subtitle">
                    Registration description
                </p>
                <div style="word-wrap: break-word;">
                    {{request.registrationDescription}}
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  <button class="confirmButton">Accept Registration</button>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <button class="cancelButton">Reject Registration</button>
                </span>
              </p>
            </footer>
          </div>
    </div>
    
    
    
  </div>



