<div class="content is-medium">
  <h1 class="title">My Subscriptions</h1>
  <hr />
  <div class="columns is-variable is-8">
    <div class="column is-three-fifths">
      <div *ngIf="subscriptionCount > 0">
        <div *ngFor="let boat of boats">
          <subscription-component
            [entity]="boat"
            type="boat"
          ></subscription-component>
        </div>

        <div *ngFor="let cottage of cottages">
          <subscription-component
            [entity]="cottage"
            type="cottage"
          ></subscription-component>
        </div>

        <div *ngFor="let instructor of instructors">
          <subscription-component
            [entity]="instructor"
            type="adventure"
          ></subscription-component>
        </div>
      </div>
      <div *ngIf="subscriptionCount == 0">
        <p>You are not subscribed to any entities yet!</p>
      </div>
    </div>

    <div class="column">
      <div class="notification is-info is-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/icons/cottage.png" />
            </figure>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
            *ngIf="cottageSubCount == 1"
          >
            <p>
              You are subscribed to <b>{{ cottageSubCount }}</b> cottage.
            </p>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
            *ngIf="cottageSubCount != 1"
          >
            <p>
              You are subscribed to <b>{{ cottageSubCount }}</b> cottages.
            </p>
          </div>
        </div>
      </div>

      <div class="notification is-info is-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/icons/boat.png" />
            </figure>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
            *ngIf="boatSubCount == 1"
          >
            <p>
              You are subscribed to <b>{{ boatSubCount }}</b> boat.
            </p>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
            *ngIf="boatSubCount != 1"
          >
            <p>
              You are subscribed to <b>{{ boatSubCount }}</b> boats.
            </p>
          </div>
        </div>
      </div>

      <div class="notification is-info is-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/icons/adventure.png" />
            </figure>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
            *ngIf="adventureSubCount == 1"
          >
            <p>
              You are subscribed to <b>{{ adventureSubCount }}</b> fishing
              instructor.
            </p>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
            *ngIf="adventureSubCount != 1"
          >
            <p>
              You are subscribed to <b>{{ adventureSubCount }}</b> fishing
              instructors.
            </p>
          </div>
        </div>
      </div>

      <div class="notification is-success" *ngIf="!hideNotification">
        <button class="delete" (click)="closeNotification()"></button>
        There is plenty to look at! Feel free to
        <strong>browse our offers</strong>, and find ones which suit you the
        most. Get notified right away about the newest offers via email.
        <a href="/">Browse now!</a>
      </div>
    </div>
  </div>
</div>
