<div class="content is-medium">
  <h1 class="title">My Subscriptions</h1>
  <hr />
  <div class="columns is-variable is-8">
    <div class="column is-three-fifths">
      <subscription-component></subscription-component>
      <subscription-component></subscription-component>
      <subscription-component></subscription-component
      ><subscription-component></subscription-component>
    </div>

    <div class="column">
      <div class="notification is-info is-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/icons/cottage.png" />
            </figure>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
          >
            <p>You are subscribed to <b>7</b> cottages.</p>
          </div>
        </div>
      </div>

      <div class="notification is-info is-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/icons/boat.png" />
            </figure>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
          >
            <p>You are subscribed to <b>0</b> boats.</p>
          </div>
        </div>
      </div>

      <div class="notification is-info is-light">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/icons/fishing.png" />
            </figure>
          </div>
          <div
            class="
              text-notification-area
              media-content
              is-flex is-justify-content-space-evenly is-flex-direction-column
            "
          >
            <p>You are subscribed to <b>2</b> fishing instructors.</p>
          </div>
        </div>
      </div>

      <div class="notification is-success" *ngIf="!hideNotification">
        <button class="delete" (click)="closeNotification()"></button>
        There is plenty to look at! Feel free to
        <strong>browse our offers</strong>, and find ones which suit you the
        most. Get notified right away about the newest offers via email.
        <a href="/">Browse now!</a>
      </div>
    </div>
  </div>
</div>
