<div class="content is-medium">
  <h1 class="title">My Cottages</h1>
  <hr />
  <div class="columns">
    <div class="column">
      <input class="input is-link" type="text" placeholder="Search Cottages!" [(ngModel)]="text" />
    </div>
    <div class="column">
      <button class="button is-link" (click)="search()">Search</button>
    </div>
    <div class="column">
      <button class="button is-success" (click)="addCottage()">Add Cottage</button>
    </div>
  </div>
  <div class="column is-flex is-justify-content-flex-end is-1"></div>
  <div>
    <hr />
    <div *ngIf="cottages.length == 0">
      <p>No Cottages Found.</p>
    </div>
    <div *ngFor="let cottage of cottages">
      <app-cottage-owner-cottage-card [name]="cottage.name" [description]="cottage.description" [address]="cottage.address"
        [ownerName]="cottage.ownerName" [utilities]="cottage.utilities" [price]="cottage.price"
        [rating]="cottage.rating" [id]="cottage.id" [imageUrls]="cottage.imageUrls" type="cottage"></app-cottage-owner-cottage-card>
    </div>
  </div>
</div>