<div class="content is-medium">
    <h1 class="title">Cottage owners</h1>
    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th><abbr title="First Name">First Name</abbr></th>
            <th><abbr title="Last Name">Last Name</abbr></th>
            <th><abbr title="Email">Email</abbr></th>
            <th><abbr title="Phone">Phone</abbr></th>
            <th><abbr title="Rank">Rank</abbr></th>
            <th><abbr title="Delete">Delete</abbr></th>
            
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ana</td>
                <td>Markovic</td>
                <td>Ana@gmail.com</td>
                <td>06522322</td>
                <td>5522</td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
        
      </table>
    </div>
  </div>
