<div class="content is-medium">
    <h1 class="title">Cottage owners</h1>
    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th><abbr title="First Name">First Name</abbr></th>
            <th><abbr title="Last Name">Last Name</abbr></th>
            <th><abbr title="Email">Email</abbr></th>
            <th><abbr title="Phone">Phone</abbr></th>
            <th><abbr title="Delete">Delete</abbr></th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cottageOwner of cottageOwners">
            <td>{{cottageOwner.id}}</td>
            <td>{{cottageOwner.name}}</td>
            <td>{{cottageOwner.lastName}}</td>
            <td>{{cottageOwner.email}}</td>
            <td>{{cottageOwner.phone}}</td>
            <td><button (click)="deleteOwner(cottageOwner)">Delete</button></td>
        </tr>
        </tbody>
        
      </table>
    </div>
  </div>
