<div class="content is-medium">
    <h1 class="title">Fishing instructors</h1>
    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th><abbr title="First Name">First Name</abbr></th>
            <th><abbr title="Last Name">Last Name</abbr></th>
            <th><abbr title="Email">Email</abbr></th>
            <th><abbr title="Phone">Phone</abbr></th>
            <th><abbr title="Delete">Delete</abbr></th>
            
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let instructor of instructors">
                <td>{{instructor.id}}</td>
                <td>{{instructor.name}}</td>
                <td>{{instructor.lastName}}</td>
                <td>{{instructor.email}}</td>
                <td>{{instructor.phone}}</td>
                <td><button (click)="deleteInstructor(instructor)">Delete</button></td>
            </tr>
        </tbody>
        
      </table>
    </div>
  </div>
