<div class="mt-6 container body-wrapper">
  <div class="content is-medium">
    <h1 class="title">Cottage Reservations</h1>
    <hr />
    <div>
      <search-field></search-field>
      <hr />
      <div *ngFor="let cottage of cottages">
        <browse-card
          [name]="cottage.name"
          [description]="cottage.description"
          [address]="cottage.address"
          [ownerName]="cottage.ownerName"
          [utilities]="cottage.utilities"
          [price]="cottage.price"
          [rating]="cottage.rating"
          [id]="cottage.id"
          type="cottage"
        ></browse-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
