<div class="body-wrapper">
  <gap></gap>
  <div class="is-flex content is-medium my-5 is-justify-content-center">
    <div class="box p-6 max-width-800">
      <h1 class="title">Register to Fishing Booker</h1>

      <hr />
      <h4>Contact Details</h4>

      <div class="field">
        <label class="label">Email:</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Email input"
            [(ngModel)]="user.email"
            [class.is-danger]="!validEmail"
          />
        </div>
        <p
          class="help is-danger"
          [ngStyle]="{
            visibility: !validEmail ? 'visible' : 'hidden'
          }"
        >
          This email is already taken!
        </p>
      </div>

      <div class="field">
        <label class="label">Contact Phone:</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Phone input"
            [(ngModel)]="user.phone"
          />
        </div>
      </div>

      <gap height="40"></gap>
      <hr />
      <h4>Personal Details</h4>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">First Name:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="First name input"
                [(ngModel)]="user.name"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Last Name:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Last name input"
                [(ngModel)]="user.lastName"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Street:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Street"
                [(ngModel)]="user.street"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">City:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="City"
                [(ngModel)]="user.city"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">State:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="State"
                [(ngModel)]="user.country"
              />
            </div>
          </div>
        </div>
      </div>

      <gap height="40"></gap>
      <hr />
      <h4>Account Info</h4>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Enter Password:</label>
            <div class="control">
              <input
                class="input"
                type="password"
                placeholder="Enter your password"
                (input)="validatePassword()"
                [(ngModel)]="user.password"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Confirm Password:</label>
            <div class="control">
              <input
                class="input"
                type="password"
                placeholder="Confirm password"
                [(ngModel)]="user.passwordConfirm"
                (input)="validatePassword()"
                [class.is-danger]="!validPassword"
              />
            </div>
            <p
              class="help is-danger"
              [ngStyle]="{
                visibility: !validPassword ? 'visible' : 'hidden'
              }"
            >
              Passwords do not match!
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Acount Type:</label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="user.role">
                  <option value="Registered Client">Client</option>
                  <option value="Boat Owner">Boat Owner</option>
                  <option value="Cottage Owner">Cottage Owner</option>
                  <option value="Fishing Instructor">Fishing Instructor</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <gap height="30"></gap>
      <div class="field">
        <div class="control">
          <button class="button is-link" (click)="validateForm()">
            Submit
          </button>
          <p
            class="help is-danger mt-5"
            [ngStyle]="{
              visibility: !validForm ? 'visible' : 'hidden'
            }"
          >
            Please fill in all the form fields!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
