<div class="content is-medium">
  <h1 class="title">Leave a Complaint</h1>
  <hr />
  <div>
    <div class="field">
      <label class="label">Reservation Complaint</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Select dropdown</option>
            <option>Angelina Boat, 14/02/2021 - 20/02/2021</option>
            <option>Angelina Boat, 14/02/2021 - 20/02/2021</option>
            <option>Angelina Boat, 14/02/2021 - 20/02/2021</option>
            <option>Angelina Boat, 14/02/2021 - 20/02/2021</option>
            <option>Angelina Boat, 14/02/2021 - 20/02/2021</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" placeholder="Complaint text"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>

    <div class="notification is-success mt-6">
      <button class="delete"></button>
      Thank you! Your complaint has been sent. You will recieve any updates via
      email notification. <a href="#">Send another</a>
    </div>
  </div>
</div>
