<div class="content is-medium">
  <h1 class="title">Leave a Complaint</h1>
  <hr />
  <div>
    <div class="field">
      <label class="label">Reservation Complaint</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="this.complaint.id" [disabled]="visibleMessage">
            <option value="0">Select dropdown</option>
            <option
              *ngFor="let reservation of reservations"
              value="{{ reservation.id }}"
            >
              {{ reservation.entityName }}, {{ reservation.startDate | date }} -
              {{ reservation.endDate | date }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          class="textarea"
          placeholder="Complaint text"
          [(ngModel)]="complaint.description"
          [disabled]="visibleMessage"
        ></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button
          class="button is-link"
          (click)="submit()"
          [disabled]="visibleMessage"
        >
          Submit
        </button>
      </div>
    </div>

    <div class="notification is-success mt-6" *ngIf="visibleMessageBox">
      <button class="delete" (click)="hideMessage()"></button>
      Thank you! Your complaint has been sent. You will recieve any updates via
      email notification. <a href="/client-db/COMPLAINT">Send another</a>
    </div>
  </div>
</div>
