<div class="content is-medium">
  <h1 class="title">Boat Reservations</h1>
  <hr />
  <div>
    <reservation-search></reservation-search>
    <search-field (doSearch)="search($event)"></search-field>
    <hr />
    <div *ngIf="boats.length == 0">
      <p>No Boats Found.</p>
    </div>
    <div *ngFor="let boat of boats">
      <reservation-card
        [name]="boat.name"
        [description]="boat.description"
        [address]="boat.address"
        [ownerName]="boat.ownerName"
        [utilities]="boat.utilities"
        [price]="boat.price"
        [rating]="boat.rating"
        [id]="boat.id"
        [imageIds]="boat.imageIds"
        type="boat"
      ></reservation-card>
    </div>
  </div>
</div>
