<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="assets/icons/cottage.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <b>John Smith </b> |
        <small><a href="#">Cottage Shinra's Resort</a>, 21/04/2021</small>
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
        magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
        sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
  </div>
</article>
