<div class="body-wrapper">
  <div class="container content my-6">
    <h1>{{ boat.address }}</h1>
    <hr />
    <div class="columns">
      <div class="figure column max-height-600" *ngIf="boat.id != 0">
        <image-carousel [imageUrls]="boat.imageUrls"></image-carousel>
      </div>

      <div class="column">
        <h2>{{ boat.name }}</h2>
        <hr />
        <div><strong>Owner: </strong> {{ boat.ownerName }}</div>
        <div><strong>Boat Type: </strong> {{ boat.boatType }}</div>
        <div><strong>Lenght: </strong> {{ boat.boatLength }}</div>
        <div>
          <strong>Number of Engines: </strong> {{ boat.numberOfEngines }}
        </div>
        <div><strong>Engine Power: </strong> {{ boat.enginePower }} kW</div>
        <div><strong>Max Speed: </strong> {{ boat.maxSpeed }} km/h</div>
        <div><strong>Navigational Equipment: </strong> {{ navEquipment }}</div>
        <div>
          <strong>Fishing Equipment: </strong> {{ boat.fishingEquipment }}
        </div>
        <hr />
        <div class="columns is-vcentered">
          <div class="column">
            <div><strong>Guest Limit: </strong> {{ boat.guestLimit }}</div>
            <div>
              <span class="tag is-large mt-5 rating"
                >{{ boat.rating }} <i class="ml-1 fa fa-star"></i
              ></span>
            </div>
            <gap height="20"></gap>
            <div>
              <h4>Price per day: ${{ boat.price }}</h4>
            </div>
          </div>
          <div class="column">
            <div class="mb-5">
              <button
                class="button is-success is-large is-outlined"
                (click)="subscribe()"
                [disabled]="isSubscribed"
              >
                Subscribe
              </button>
            </div>
            <div>
              <a
                class="button is-success is-large"
                href="/client-db/BOAT_RESERVATIONS"
                >Book now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <h2>Description:</h2>
      <p>
        {{ boat.description }}
      </p>
    </div>
    <hr />
    <div class="columns">
      <div class="column">
        <h3>Boat Rules</h3>
        <div *ngIf="boat.rules.length == 0">
          <p>No Rules Added.</p>
        </div>
        <div *ngFor="let rule of boat.rules">
          <rule [rule]="rule"></rule>
        </div>
      </div>
      <div class="column">
        <h3>Boat Utilities</h3>
        <div *ngIf="boat.utilities.length == 0">
          <p>No Utilities Added.</p>
        </div>
        <div *ngFor="let utility of boat.utilities">
          <utility [utility]="utility.name" [price]="utility.price"></utility>
        </div>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column" *ngIf="boat.address">
        <app-map [address]="boat.address"></app-map>
      </div>
    </div>
    <hr />
    <div>
      <entity-calendar
        *ngIf="boat.id != 0 && reservationsLoaded"
        [availableDates]="boat.availableTimePeriods"
        [reservationDates]="reservations"
      ></entity-calendar>
    </div>
    <h3>Reviews</h3>
    <div *ngIf="reviews.length > 0">
      <div *ngFor="let review of this.reviews">
        <review-card [review]="review"></review-card>
      </div>
    </div>
    <div *ngIf="reviews.length == 0">
      <p>No reviews to show.</p>
    </div>

    <hr />
    <h3>Special Offers</h3>
    <div *ngIf="actions.length == 0">
      <p>No Special Offers Found.</p>
    </div>
    <div *ngFor="let action of actions">
      <special-offer-card [action]="action"></special-offer-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
