<div class="body-wrapper">
  <div class="container content my-6">
    <h1>{{ boat.address }}</h1>
    <hr />
    <div class="columns">
      <div class="column figure"><img src="assets/images/boat.jpg" /></div>

      <div class="column">
        <h2>{{ boat.name }}</h2>
        <hr />
        <div><strong>Owner: </strong> {{ boat.boatOwnerName }}</div>
        <div><strong>Boat Type: </strong> {{ boat.boatType }}</div>
        <div><strong>Lenght: </strong> {{ boat.boatLength }}</div>
        <div>
          <strong>Number of Engines: </strong> {{ boat.numberOfEngines }}
        </div>
        <div><strong>Engine Power: </strong> {{ boat.enginePower }} kW</div>
        <div><strong>Max Speed: </strong> {{ boat.maxSpeed }} km/h</div>
        <div><strong>Navigational Equipment: </strong> {{ navEquipment }}</div>
        <div>
          <strong>Fishing Equipment: </strong> {{ boat.fishingEquipment }}
        </div>
        <hr />
        <div class="columns is-vcentered">
          <div class="column">
            <div><strong>Guest Limit: </strong> {{ boat.guestLimit }}</div>
            <div>
              <span class="tag is-large mt-5 rating"
                >{{ boat.rating }} <i class="ml-1 fa fa-star"></i
              ></span>
            </div>
            <gap height="20"></gap>
            <div>
              <h4>Price per day: ${{ boat.price }}</h4>
            </div>
          </div>
          <div class="column">
            <div class="mb-5">
              <button class="button is-success is-large is-outlined">
                Subscribe
              </button>
            </div>
            <div>
              <button class="button is-success is-large">Book now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <h2>Description:</h2>
      <p>
        {{ boat.description }}
      </p>
    </div>
    <hr />
    <div class="columns">
      <div class="column">
        <h3>Boat Rules</h3>
        <div *ngFor="let rule of boat.rules">
          <rule [rule]="rule"></rule>
        </div>
      </div>
      <div class="column">
        <h3>Boat Utilities</h3>
        <div *ngFor="let utility of boat.utilities">
          <utility [utility]="utility.name" [price]="utility.price"></utility>
        </div>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column" *ngIf="boat.address">
        <app-map [address]="boat.address"></app-map>
      </div>
    </div>
    <hr />
    <h3>Reviews</h3>
    <review-card></review-card>
    <review-card></review-card>
    <review-card></review-card>
    <review-card></review-card>
  </div>
</div>

<app-footer></app-footer>
