<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="assets/icons/boat.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <b>{{ review.clientName }} </b> |
        <small
          ><a href="/{{ review.reservationType }}/{{ review.entityId }}">{{
            review.reservationName
          }}</a
          >, {{ review.date | date }} |
        </small>
        <i class="fa fa-star" *ngFor="let n of numSequence(review.rating)"></i>

        <br />
        {{ review.review }}
      </p>
    </div>
    <div *ngIf="review.approval == 'REJECTED'">
      <span class="tag is-danger is-medium">REJECTED</span>
    </div>
    <div *ngIf="review.approval == 'WAITING'">
      <span class="tag is-warning is-medium">WAITING</span>
    </div>
  </div>
</article>
