<div class="columns">
<div class="column">
    <div class="field">
        <label class="label">Choose Cottage </label>
        <select style="height:40px;width: 200px;" [(ngModel)]="selectedCottageId">
            <option value="-1">Select Cottage</option>
            <option *ngFor="let cottage of cottages" value={{cottage.id}}>{{cottage.name}}</option>
        </select>
    </div>
</div></div>

<div class="columns">
    <div class="column is-4">
        <div class="field">
            <label class="label">Select Start Date </label>
            <input type="date" style="height:40px;width: 200px;" [(ngModel)]="startDate"/>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <label class="label">Select End Date </label>
            <input type="date" style="height:40px;width: 200px;" [(ngModel)]="endDate"/>
        </div>
    </div>
</div>

<div class="columns is-mobile">
<div class="column mt-6 is-offset-4">
    <button class="button is-success" (click)="createAvailablePeriod()">Create Available Period</button>
</div></div>