<div class="columns is-multiline mb-5 is-vcentered">
  <div class="column is-2">
    <input class="input is-link" type="text" placeholder="Search anything!" />
  </div>

  <div class="column is-2">
    <div class="select">
      <select>
        <option value="NO_SORT">Select sorting:</option>
        <option value="PRICE_LOWER">Price: Lower first</option>
        <option value="PRICE_HIGHER">Price: Higher first</option>
        <option value="RATING_HIGHER">Rating: Higher first</option>
        <option value="RATING_LOWER">Rating: Lower first</option>
        <option value="NAME_ACS">Name: Acsending</option>
        <option value="NAME_DES">Name: Descending</option>
      </select>
    </div>
  </div>

  <div class="column has-text-centered is-full-mobile">
    <span class="tag is-link is-medium" [class.unselected]="!pet">
      <button class="button button-tag is-small" (click)="togglePet()">
        Pet-Friendly
        <i class="fa fa-paw tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium" [class.unselected]="!wifi">
      <button class="button button-tag is-small" (click)="toggleWifi()">
        WiFi Included
        <i class="fa fa-wifi tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium" [class.unselected]="!drinks">
      <button class="button button-tag is-small" (click)="toggleDrinks()">
        Drinks
        <i class="fa fa-glass tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium" [class.unselected]="!medic">
      <button class="button button-tag is-small" (click)="toggleMedic()">
        Health Support
        <i class="fa fa-ambulance tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium" [class.unselected]="!exclusive">
      <button class="button button-tag is-small" (click)="toggleExclusive()">
        Exclusive
        <i class="fa fa-star tag-icon"></i>
      </button>
    </span>
  </div>

  <div class="column is-flex is-justify-content-flex-end is-1">
    <button class="button is-link">Search</button>
  </div>
</div>
