<div class="content is-medium">
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">Upcoming Reservations</h1>
    </div>
    <div class="column is-flex is-justify-content-end mr-4">
      <div class="select">
        <select [(ngModel)]="sort" (change)="refreshSort()">
          <option value="NO_SORT">Select sorting:</option>
          <option value="PRICE_LOWER">Price: Lower first</option>
          <option value="PRICE_HIGHER">Price: Higher first</option>
          <option value="START_HIGHER">Start Date: Acsending</option>
          <option value="START_LOWER">Start Date: Descending</option>
          <option value="DURATION_HIGHER">Duration: Higher first</option>
          <option value="DURATION_LOWER">Duration: Lower first</option>
          <option value="NAME_ACS">Name: Acsending</option>
          <option value="NAME_DES">Name: Descending</option>
        </select>
      </div>
    </div>
  </div>

  <hr />
  <div>
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="ID">ID</abbr></th>
          <th><abbr title="Boat">Boat</abbr></th>
          <th><abbr title="Owner">Owner</abbr></th>
          <th><abbr title="Start Date">Start Date</abbr></th>
          <th><abbr title="End Date">End Date</abbr></th>
          <th><abbr title="No. of People">No. of People</abbr></th>
          <th><abbr title="Price">Price</abbr></th>
        </tr>
      </thead>

      <tr *ngFor="let res of reservations">
        <th>{{ res.id }}</th>
        <td>
          <a href="/boat/{{ res.entityId }}">{{ res.entityName }}</a>
        </td>
        <td>{{ res.ownerName }}</td>
        <td>{{ res.startDate | date: "medium" }}</td>
        <td>{{ res.endDate | date: "medium" }}</td>
        <td>{{ res.people }}</td>
        <td>${{ res.price | number }}</td>
      </tr>
    </table>
    <div *ngIf="reservations.length == 0">
      <p>No past boat reservations to show.</p>
    </div>
  </div>
</div>
