<div class="columns mb-4">
  <div class="column">
    <div class="field">
      <div class="field-label is-normal has-text-centered">
        <label class="label">Where to?</label>
      </div>
      <p class="control has-icons-left">
        <span class="select is-rounded">
          <select class="select">
            <option selected>Country</option>
            <option>Serbia</option>
            <option>Croatia</option>
            <option>United Kingdom</option>
          </select>
        </span>
        <span class="icon is-small is-left">
          <i class="fa fa-globe"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="column">
    <div class="field">
      <div class="field-label is-normal has-text-centered">
        <label class="label">Start date:</label>
      </div>
      <div class="field-body control has-icons-left has-icons-right">
        <input class="input is-rounded" type="date" />
        <span class="icon is-small is-left">
          <i class="fa fa-calendar"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="field">
      <div class="field-label is-normal has-text-centered">
        <label class="label">End date:</label>
      </div>
      <div class="field-body control has-icons-left has-icons-right">
        <input class="input is-rounded" type="date" />
        <span class="icon is-small is-left">
          <i class="fa fa-calendar"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="field">
      <div class="field-label is-normal has-text-centered">
        <label class="label">People:</label>
      </div>
      <div class="field-body control has-icons-left has-icons-right">
        <input
          class="input is-rounded"
          type="number"
          value="2"
          min="1"
          max="10"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
    </div>
  </div>
</div>
