<div class="columns mb-5 is-vcentered">
  <div class="column">
    <input class="input is-link" type="text" placeholder="Search anything!" />
  </div>

  <div class="column">
    <div class="select">
      <select>
        <option>Select sorting</option>
        <option>Price: Lower first</option>
        <option>Price: Higher first</option>
        <option>Name: Acsending</option>
        <option>Name: Decsending</option>
      </select>
    </div>
  </div>

  <div class="column is-three-fifths has-text-centered">
    <span class="tag is-link is-medium">
      <button class="button button-tag is-small">
        Pet-Friendly
        <i class="fa fa-paw tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium unsellected">
      <button class="button button-tag is-small">
        WiFi Included
        <i class="fa fa-wifi tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium unsellected">
      <button class="button button-tag is-small">
        Drinks
        <i class="fa fa-glass tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium">
      <button class="button button-tag is-small">
        Health Support
        <i class="fa fa-ambulance tag-icon"></i>
      </button>
    </span>

    <span class="tag is-link is-medium">
      <button class="button button-tag is-small">
        Exclusive
        <i class="fa fa-star tag-icon"></i>
      </button>
    </span>
  </div>

  <div class="column is-flex is-justify-content-flex-end">
    <button class="button is-link">Search</button>
  </div>
</div>
