<div class="my-5">
  <article class="media shadow p-4">
    <figure class="media-left">
      <p class="image">
        <img class="image" src="assets/images/cottage.jpg" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <div>
          <p>
            <strong><a href="#">Shinra's R&R</a></strong>
            <small>, @Shinra Company </small>
            <br />
            {{ description | truncate: [300] }}
          </p>

          <div>
            <strong><i class="fa fa-user"></i> 3 people</strong>
            <br />

            <strong
              ><i class="fa fa-calendar"></i> 10/11/2021 - 25/11-2021</strong
            >
            <br />
            <strong
              ><i class="fa fa-map-marker"></i> Bulevar Oslobodjenja 17, Novi
              Sad, Serbia</strong
            >
          </div>
          <gap height="10"></gap>
          <span class="tag is-danger is-large">Offer price: $36/day</span>
        </div>
        <div class="columns is-vcentered">
          <div class="column">
            <span class="tag is-orange">WiFi</span>
            <span class="tag is-orange">Pet-Friendly</span>
            <span class="tag is-orange">Bar</span>
          </div>
          <div
            class="
              column
              is-flex is-justify-content-flex-end is-align-items-center
            "
          >
            <small>Offer ends in 2 days!</small>
            <strong class="ml-5 mr-1 star-text">4.8 </strong>
            <i class="fa fa-star"></i>
            <div class="buttons ml-5">
              <button class="button is-danger">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
