<div class="my-5">
  <article class="media shadow p-4">
    <figure class="media-left">
      <p class="image">
        <img class="image center-cropped" [src]="image" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <div>
          <p>
            <strong
              ><a
                href="{{ action.entityType.toLowerCase() }}/{{
                  action.entityId
                }}"
                >{{ action.entityName }}</a
              ></strong
            >
            <small>, @{{ action.ownerName }} </small>
            <br />
            {{ action.description | truncate: [200] }}
          </p>

          <div>
            <strong
              ><i class="fa fa-user"></i> {{ action.guestLimit }} - Guest
              Capacity</strong
            >
            <br />

            <strong
              ><i class="fa fa-calendar"></i>
              {{ action.startDate | date: "short" }} -
              {{ action.endDate | date: "short" }}</strong
            >
            <br />
            <strong
              ><i class="fa fa-map-marker"></i> {{ action.address }}</strong
            >
          </div>
          <gap height="10"></gap>
          <span class="tag is-danger is-large"
            >Offer price: ${{ action.price | number }}</span
          >
        </div>
        <div class="columns is-vcentered">
          <div class="column">
            <span
              class="tag is-orange"
              *ngFor="let utility of action.utilities.slice(0, 7)"
              >{{ utility.name }}</span
            >
          </div>
          <div
            class="column is-flex is-justify-content-flex-end is-align-items-center"
          >
            <small>Offer ends in {{ daysLeft }} days!</small>
            <strong class="ml-5 mr-1 star-text"
              >{{ action.rating | number }}
            </strong>
            <i class="fa fa-star"></i>
            <div class="buttons ml-5">
              <button class="button is-danger" (click)="browse()">
                Browse on Profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
