.cancelButton{
    width: 20%;
    height: 35px;
    border:0px;
    border-radius: 3px;
    background-color: rgb(245, 120, 98);
    font-size: medium;
    cursor: pointer;
    padding: 5px;
    color: white;
    margin-left: 30%;
    display: inline-block;
}

.cancelButton:hover{
    background-color: rgb(248, 103, 78);
}

.confirmButton{
    width: 150px;
    height: 45px;
    border:0px;
    border-radius: 3px;
    background-color: rgb(7, 214, 69);
    font-size: medium;
    cursor: pointer;
    padding: 5px;
    color: white;
    display: inline-block;
    margin-top: 100px;
}
.confirmButton:hover{
    background-color: rgb(7, 189, 61);
}



.buttonDiv{
    margin-top: 100px;
    margin-left: 50%;
    margin-right: 50%;
}