<div style="width: 50%;">
<article class="message is-success shadow">
    <div class="message-header">
      <p>Commision precentage</p>
    </div>
    <div class="message-body">
      <b>Enter commision precentage</b><br />
      <div style="width:150px">
        <div class="control">
            <input class="input is-success" type="number" [(ngModel)]="commissionPercentage" placeholder="Input precentage"> 
        </div>
      </div>
      <div class="column">
          <button class="confirmButton" (click)="setPercentage()">Confirm</button>
          
      </div>
    </div>
      
    
</article>
</div>

