<div class="mt-6 container body-wrapper">
  <div class="content is-medium">
    <h1 class="title">Boat Reservations</h1>
    <hr />
    <div>
      <search-field (doSearch)="search($event)"></search-field>
      <hr />
      <div *ngIf="boats.length == 0">
        <p>No Boats Found.</p>
      </div>
      <div *ngFor="let boat of boats">
        <browse-card
          [name]="boat.name"
          [description]="boat.description"
          [address]="boat.address"
          [ownerName]="boat.ownerName"
          [utilities]="boat.utilities"
          [price]="boat.price"
          [rating]="boat.rating"
          [id]="boat.id"
          [imageIds]="boat.imageIds"
          type="boat"
        ></browse-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
