<div class="mt-6 container body-wrapper">
  <div class="content is-medium">
    <h1 class="title">Fishing Adventure Reservations</h1>
    <hr />
    <div>
      <search-field (doSearch)="search($event)"></search-field>
      <hr />
      <div *ngIf="adventures.length == 0">
        <p>No Fishing Adventures Found.</p>
      </div>
      <div *ngFor="let adventure of adventures">
        <browse-card
          [name]="adventure.name"
          [description]="adventure.description"
          [address]="adventure.address"
          [ownerName]="adventure.ownerName"
          [utilities]="adventure.utilities"
          [price]="adventure.price"
          [rating]="adventure.rating"
          [id]="adventure.id"
          [imageUrls]="adventure.imageUrls"
          type="adventure"
        ></browse-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
