<div class="mt-6 container body-wrapper">
  <div class="content is-medium">
    <h1 class="title">Boat Reservations</h1>
    <hr />
    <div>
      <search-field></search-field>
      <hr />
      <div *ngFor="let boat of boats">
        <browse-card
          [name]="boat.name"
          [description]="boat.description"
          [address]="boat.address"
          [ownerName]="boat.boatOwnerName"
          [utilities]="boat.utilities"
          [price]="boat.price"
          [rating]="boat.rating"
          [id]="boat.id"
          type="boat"
        ></browse-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
