<div class="body-wrapper">
  <div class="container content my-6">
    <h1>{{ cottage.address }}</h1>
    <hr />
    <div class="columns">
      <div class="column figure"><img src="assets/images/boat.jpg" /></div>

      <div class="column">
        <h2>{{ cottage.name }}</h2>
        <hr />
        <div><strong>Owner: </strong> {{ cottage.ownerName }}</div>

        <hr />
        <div class="columns is-vcentered">
          <div class="column">
            <div><strong>Guest Limit: </strong> {{ cottage.guestLimit }}</div>
            <div>
              <span class="tag is-large mt-5 rating"
                >{{ cottage.rating }} <i class="ml-1 fa fa-star"></i
              ></span>
            </div>
            <gap height="20"></gap>
            <div>
              <h4>Price per day: ${{ cottage.price }}</h4>
            </div>
          </div>
          <div class="column">
            <div class="mb-5">
              <button class="button is-success is-large is-outlined">
                Subscribe
              </button>
            </div>
            <div>
              <button class="button is-success is-large">Book now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <h2>Description:</h2>
      <p>
        {{ cottage.description }}
      </p>
    </div>
    <hr />
    <div class="columns">
      <div class="column">
        <h3>Cottage Rules</h3>
        <div *ngFor="let rule of cottage.rules">
          <rule [rule]="rule"></rule>
        </div>
      </div>
      <div class="column">
        <h3>Cottage Utilities</h3>
        <div *ngFor="let utility of cottage.utilities">
          <utility [utility]="utility.name" [price]="utility.price"></utility>
        </div>
      </div>
      <div class="column">
        <h3>Cottage Rooms</h3>
        <div *ngFor="let room of cottage.rooms">
          <room [beds]="room.numberOfBeds"></room>
        </div>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column" *ngIf="cottage.address">
        <app-map [address]="cottage.address"></app-map>
      </div>
    </div>
    <hr />
    <h3>Reviews</h3>
    <review-card></review-card>
    <review-card></review-card>
    <review-card></review-card>
    <review-card></review-card>
  </div>
</div>

<app-footer></app-footer>
