<div class="content is-medium">
    <h1 class="title">Personal Info</h1>
    <hr />
    <div class="columns p-5">
      <div class="column">
        <div class="mb-6">
          <h4>First Name:</h4>
          <p>{{ instructor.name }}</p>
        </div>
        <div class="mb-6">
          <h4>Last Name:</h4>
          <p>{{ instructor.lastName }}</p>
        </div>
  
        <div class="mb-6">
          <h4>Phone:</h4>
          <p>{{ instructor.phone }}</p>
        </div>
        <div class="mb-6">
          <h4>Address:</h4> <p>{{instructor.fullAddress}}</p>
        </div>
      </div>
      <div class="column">
        <div class="mb-6">
          <h4>Email:</h4>
          <p>{{ instructor.email }}</p>
        </div>
  
        <article class="message is-success shadow">
          <div class="message-header">
            <p>Loyality program</p>
          </div>
          <div class="message-body">
            <b>Your current rank is: GOLD</b><br />
            <b>Points: 178 pts</b><br /><br />
            Gain new ranks and more points by using our services more often! We
            are open towards providing fresh, amazing experiences to our most
            loyal customers.
          </div>
        </article>
  
        
      </div>
    </div>
    <div class="column">
      <article class="message is-info">
        <div class="message-header">
          <p>Instructor Biography</p>
          
        </div>
        <div class="message-body">
          <p>{{instructor.biography}}</p>
        </div>
      </article>
    </div>
</div>
