<div class="content is-medium">
    <h1 class="title">Past Fishing Adventures</h1>
    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Fishing Adventure">Adventure</abbr></th>
            <th><abbr title="Client">Client</abbr></th>
            <th><abbr title="Start Date">Start Date</abbr></th>
            <th><abbr title="End Date">End Date</abbr></th>
            <th><abbr title="No. of People">No. of People</abbr></th>
            <th><abbr title="Price">Price</abbr></th>
            <th><abbr title="Price">Reservation Type</abbr></th>
            <th><abbr title="Create Report">Create Report</abbr></th>
          </tr>
        </thead>
  
        <tr *ngFor="let reservation of reservations">
          
          <td>
            {{reservation.adventureName}}
          </td>
          <td><a (click)=openModalUser(reservation)>{{reservation.clientName}}  {{reservation.clientLastName}}</a></td>
          <td>{{reservation.startDate}}</td>
          <td>{{reservation.endDate}}</td>
          <td>{{reservation.numberOfPeople}}</td>
          <td>{{reservation.price}}</td>
          <td>{{reservation.reservationType}}</td>
          <td><a (click)=openModalReport(reservation)>Create Report</a></td>
        </tr>
  
        
  
        
      </table>
    </div>
    <div class="modal" id='modalUser' *ngFor="let reservation of reservations">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Client</p>
          <button class="delete" aria-label="close" (click)="closeModalUser()"></button>
        </header>
        <section class="modal-card-body">
          <div class="columns p-5">
            <div class="column">
              <div class="mb-6">
                <h4>First Name:</h4>
                <p>{{reservation.clientName}}</p>
              </div>
              <div class="mb-6">
                <h4>Last Name:</h4>
                <p>{{reservation.clientLastName}}</p>
              </div>
        
              <div class="mb-6">
                <h4>Phone:</h4>
                <p>{{reservation.clientPhoneNumber}}</p>
              </div>
              <div class="mb-6">
                <h4>Address:</h4>
                <p>{{reservation.clientfullAddress}}
                </p>
              </div>
            </div>
            <div class="column">
              <div class="mb-6">
                <h4>Email:</h4>
                <p>{{reservation.clientMail}}</p>
              </div>
            </div>
          </div>
        
        </section>
        <footer class="modal-card-foot">
         
          
        </footer>
      </div>
    </div>
    
  </div>