<div class="content is-medium">
  <h1 class="title">Upcoming Reservations</h1>
  <hr />
  <div>
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="ID">ID</abbr></th>
          <th><abbr title="Reservation type">Type</abbr></th>
          <th><abbr title="Owner">Owner</abbr></th>
          <th><abbr title="Start Date">Start Date</abbr></th>
          <th><abbr title="End Date">End Date</abbr></th>
          <th><abbr title="No. of People">No. of People</abbr></th>
          <th><abbr title="Price">Price</abbr></th>
          <th><abbr title="Cancel reservation">Cancel</abbr></th>
        </tr>
      </thead>

      <tr *ngFor="let res of reservations">
        <th>{{ res.id }}</th>
        <td>
          <a href="/{{ res.entityType }}/{{ res.entityId }}">{{
            res.entityName
          }}</a>
        </td>
        <td>{{ res.ownerName }}</td>
        <td>{{ res.startDate | date }}</td>
        <td>{{ res.endDate | date }}</td>
        <td>{{ res.people }}</td>
        <td>${{ res.price }}</td>
        <td>
          <button
            class="button is-danger"
            [disabled]="!res.canCancel"
            (click)="cancelReservation(res)"
          >
            Cancel
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
