<div class="content is-medium">
  <h1 class="title">Upcoming Reservations</h1>
  <hr />
  <div>
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="ID">ID</abbr></th>
          <th><abbr title="Reservation type">Type</abbr></th>
          <th><abbr title="Owner">Owner</abbr></th>
          <th><abbr title="Start Date">Start Date</abbr></th>
          <th><abbr title="End Date">End Date</abbr></th>
          <th><abbr title="No. of People">No. of People</abbr></th>
          <th><abbr title="Price">Price</abbr></th>
          <th><abbr title="Cancel reservation">Cancel</abbr></th>
        </tr>
      </thead>

      <tr>
        <th>1</th>
        <td>
          <a href="#">Boat</a>
        </td>
        <td>John Smith</td>
        <td>23/04/2022</td>
        <td>25/04/2022</td>
        <td>3</td>
        <td>$75</td>
        <td><button class="button is-danger">Cancel</button></td>
      </tr>

      <tr>
        <th>2</th>
        <td>
          <a href="#">Boat</a>
        </td>
        <td>John Smith</td>
        <td>23/04/2022</td>
        <td>25/04/2022</td>
        <td>3</td>
        <td>$89</td>
        <td><button class="button is-danger">Cancel</button></td>
      </tr>

      <tr>
        <th>3</th>
        <td>
          <a href="#">Cottage</a>
        </td>
        <td>John Smith</td>
        <td>23/04/2022</td>
        <td>25/04/2022</td>
        <td>3</td>
        <td>$75</td>
        <td><button class="button is-danger">Cancel</button></td>
      </tr>
    </table>
  </div>
</div>
