<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Your superb adventure starts today!</h1>
      <p class="subtitle">Planning taken to perfection.</p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Cottages</a>
          </li>
          <li>
            <a>Boats</a>
          </li>
          <li>
            <a>Adventures</a>
          </li>
          <li>
            <a>Reviews</a>
          </li>
          <li>
            <a>Business Owners</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div class="container block p-6 mt-6 mb-6">
  <div class="content is-medium has-text-centered">
    <h1>Fishing Booker</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan,
      metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum
      justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio,
      sollicitudin vel erat vel, interdum mattis neque.
    </p>
  </div>
</div>

<div class="has-background-grey-lighter block p-6 mt-6 mb-6">
  <div class="container content is-medium">
    <h1>Cottages</h1>
    <hr />
    <div class="columns">
      <div class="column">
        <cottage-card></cottage-card>
      </div>
      <div class="column">
        <cottage-card></cottage-card>
      </div>
      <div class="column">
        <cottage-card></cottage-card>
      </div>
    </div>
  </div>
</div>
