<div class="my-5">
  <article class="media shadow p-4">
    <figure class="media-left">
      <p class="image">
        <img class="image" src="assets/images/cottage.jpg" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <div>
          <p>
            <strong><a href="#">Shinra's R&R</a></strong
            ><small>, @Shinra Company </small>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>

          <div>
            <strong
              ><i class="fa fa-map-marker"></i> Bulevar Oslobodjenja 17, Novi
              Sad, Serbia</strong
            >
            <h4>$54/day</h4>
          </div>
        </div>
        <div class="columns is-vcentered">
          <div class="column">
            <span class="tag is-success">WiFi</span>
            <span class="tag is-success">Pet-Friendly</span>
            <span class="tag is-success">Bar</span>
          </div>
          <div
            class="
              column
              is-flex is-justify-content-flex-end is-align-items-center
            "
          >
            <strong class="mr-1 star-text">4.8 </strong>
            <i class="fa fa-star"></i>
            <div class="buttons ml-5">
              <button class="button is-success is-outlined">Preview</button>
              <button class="button is-success">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
