<div class="content is-medium">
    <h1 class="title">Personal Info</h1>
    <hr />
    <div class="columns p-5">
      <div class="column">
        <div class="mb-6">
          <h4>First Name:</h4>
          <p>{{ admin.name }}</p>
        </div>
        <div class="mb-6">
          <h4>Last Name:</h4>
          <p>{{ admin.lastName }}</p>
        </div>
  
        <div class="mb-6">
          <h4>Phone:</h4>
          <p>{{ admin.phone }}</p>
        </div>
        <div class="mb-6">
          <h4>Address:</h4>
          <p>{{fullAddress}}</p>
        </div>
      </div>
      <div class="column">
        <div class="mb-6">
          <h4>Email:</h4>
          <p>{{ admin.email }}</p>
        </div>
  
        <article class="message is-success shadow">
          <div class="message-header">
            <p>Loyality program</p>
          </div>
          <div class="message-body">
            <b>Your current rank is: GOLD</b><br />
            <b>Points: 178 pts</b><br /><br />
            Gain new ranks and more points by using our services more often! We
            are open towards providing fresh, amazing experiences to our most
            loyal customers.
          </div>
        </article>
  
        
      </div>
    </div>
    <div class="modal" id='modal'>
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Change your password</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <h5 style="color:rgb(248, 99, 99)">You are first time logged in. You must change your password</h5>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Enter Password:</label>
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Enter your password"
                    (input)="validatePassword()"
                    [(ngModel)]="password"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Confirm Password:</label>
                <div class="control">
                  <input
                    class="input"
                    type="password"
                    placeholder="Confirm password"
                    [(ngModel)]="passwordConfirm"
                    (input)="validatePassword()"
                    [class.is-danger]="!validPassword"
                  />
                </div>
                <p
                  class="help is-danger"
                  [ngStyle]="{
                    visibility: !validPassword ? 'visible' : 'hidden'
                  }"
                >
                  Passwords do not match!
                </p>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div style="margin-left: 40%; margin-right: 40%;">
            
              <button class="button is-success" (click)="closeModalTab()">Confirm</button>
            
          
          </div>
        </footer>
      </div>
    </div>
  </div>
