<div class="my-4 mb-6 subscription card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{ imagePath }}" />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ type | titlecase }}: {{ entity.name }}</p>
        <p class="subtitle is-6">@{{ entity.ownerName }}</p>
      </div>
      <div class="">
        <button class="button is-danger" (click)="unsubscribe()">
          Unsubscribe
        </button>
      </div>
    </div>

    <div class="content">
      {{ entity.description }}
      <br />
    </div>
  </div>
</div>
