<div class="content is-medium">
  <h1 class="title">Delete my Account</h1>
  <hr />
  <div>
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          class="textarea"
          placeholder="Why do you wish to delete your account?"
        ></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>

    <div class="notification is-danger mt-6">
      <button class="delete"></button>
      Your account deletion request has been sent. You will recieve any updates
      via email notification. If you wish to cancel your request, please contact
      as at <b>fishing.booker.service@gmail.com</b>.
    </div>
  </div>
</div>
