<div class="content is-medium">
  <h1 class="title">Fishing Adventures</h1>
  <hr />
  <div>
    <reservation-search></reservation-search>
    <search-field (doSearch)="search($event)"></search-field>
    <hr />
    <div *ngIf="adventures.length == 0">
      <p>No Fishing Adventures Found.</p>
    </div>
    <div *ngFor="let adventure of adventures">
      <reservation-card
        [name]="adventure.name"
        [description]="adventure.description"
        [address]="adventure.address"
        [ownerName]="adventure.ownerName"
        [utilities]="adventure.utilities"
        [price]="adventure.price"
        [rating]="adventure.rating"
        [id]="adventure.id"
        [imageIds]="adventure.imageIds"
        type="adventure"
      ></reservation-card>
    </div>
  </div>
</div>
