<nav class="navbar container">
  <div class="navbar-brand">
    <a class="navbar-item navbar-logo">
      <img src="assets/icons/logo.png" height="50px" width="50px" />
      <!--<h1 class="logo-font">Fishing Booker</h1> -->
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/"> Home </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Reservations </a>
        <div class="navbar-dropdown is-boxed">
          <a
            class="navbar-item"
            href="https://bulma.io/documentation/overview/start/"
          >
            Boats
          </a>
          <a
            class="navbar-item"
            href="https://bulma.io/documentation/overview/modifiers/"
          >
            Cottages
          </a>
          <a
            class="navbar-item"
            href="https://bulma.io/documentation/columns/basics/"
          >
            Adventures
          </a>
        </div>
      </div>
      <a class="navbar-item" href="https://bulma.io/"> Special Offers </a>
      <a class="navbar-item" href="https://bulma.io/"> Reviews </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" href="#">Login</a>
          </p>
          <p class="control">
            <a class="button is-primary" href="#"><b>REGISTER TODAY</b></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
