<div class="card">
  <div class="card-image">
    <img
      class="cottage-image"
      src="https://images.unsplash.com/photo-1523391139596-e7da8a18c733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
  </div>

  <div class="content p-4">
    <h4>Cottage #1</h4>
    <p>@John Bridges</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris
    </p>

    <div class="has-text-centered mt-5">
      <a class="button is-primary" href="#">READ MORE</a>
    </div>
  </div>
</div>
