<div class="content is-medium">
    <h1 class="title">Add Boat</h1>
    <hr />
    <div class="box p-6">
      <h4>Boat Details</h4>
  
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Boat Name:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Boat name"
                [(ngModel)]="boat.name"
              />
            </div>
          </div>
          
      </div>
      </div>

      <div class="columns">
        <div class="column">
            <div class="field">
              <label class="label">Boat Description</label>
              <div class="control">
                <textarea [(ngModel)]="boat.description"
                  class="textarea"
                  placeholder="Boat description"
                ></textarea>
              </div>
            </div>
          </div>
       </div>
  
       <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Street:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Street"
                [(ngModel)]="boat.street"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">City:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="City"
                [(ngModel)]="boat.city"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Country:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Country"
                [(ngModel)]="boat.country"
              />
            </div>
          </div>
        </div>
      </div>
  
       <div class="columns">
        <div class="column">
            <div class="field">
              <label class="label">Maximum nuber of persons:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Maximum number of persons"
                  [(ngModel)]="boat.guestLimit"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Price:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Price"
                  [(ngModel)]="boat.price"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Number Of Engines:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Number Of Engines"
                  [(ngModel)]="boat.numberOfEngines"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Engine Power:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Engine Power"
                  [(ngModel)]="boat.enginePower"
                />
              </div>
            </div>
          </div>
       </div>

       <div class="columns">
        <div class="column">
            <div class="field">
              <label class="label">Length:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Length"
                  [(ngModel)]="boat.boatLength"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Max Speed:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Max Speed"
                  [(ngModel)]="boat.maxSpeed"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Cancellation Percentage:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Cancellation Percentage"
                  [(ngModel)]="boat.cancellationPercentageKeep"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Fishing Equipment:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Fishing Equipment"
                  [(ngModel)]="boat.fishingEquipment"
                />
              </div>
            </div>
          </div>
       </div>

        <gap height="40"></gap>
      <hr />
      <h4>Boat Type</h4>
      <div class="columns">
        
        <div class="column">
            <div class="field">
              <label class="label">Choose Boat Type </label>
              
                <select style="height:40px;width: 200px;" [(ngModel)]=selectedBoatType>
                  <option value="">Select dropdown</option>
                  <option *ngFor="let boatType of boatTypes" value={{boatType.name}}>{{boatType.name}}</option>
                  
                </select>
            </div>
        </div>
      </div>

      <gap height="40"></gap>
      <hr />
      <h4>Conduct rules</h4>
      
  
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Enter Rule of cunduct</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Enter your rule"
                [(ngModel)]="rule"
              />
            </div>
          </div>
          
        </div>
        <div class="column"> 
            <div class="addDiv">
                <button class="button is-success" (click)=addConductRule()>Add</button>
            </div>
        </div>
      </div>

      <div class="columns"> 
        <div class="column">
            <div class="tags">
                <span class="tag is-danger is-medium" *ngFor="let rule of boat.rules">
                    {{rule.ruleDescription}}
                    <button class="delete is-small" (click)="removeConductRule(rule.ruleDescription)"></button>
                </span>
              </div>  
          </div>
      </div>

      <gap height="40"></gap>
      <hr />
      <h4>Navigational Equipment</h4>
      <div class="columns">
        
        <div class="column">
            <div class="field">
              <label class="label">Navigational Equipment </label>
              
                <select style="height:40px;width: 200px;" [(ngModel)]=selectedNavEq>
                  <option value="">Select dropdown</option>
                  <option *ngFor="let navEq of navigationalEquipment" value={{navEq.name}}>{{navEq.name}}</option>
                  
                </select>
            </div>
        </div>
    
        <div class="column"> 
            <div class="addDiv">
                <button class="button is-success" (click)="addNavigationalEquipment()">Add</button>
            </div>
        </div>
      </div>

      <div class="columns"> 
        <div class="column">
            <div class="tags">
                <span class="tag is-success is-medium" *ngFor="let navEq of boat.navigationalEquipments">
                    {{navEq}}
                    <button class="delete is-small" (click)=removeNavigationalEquipment(navEq)></button>
                </span>
                
              </div>  
    
          </div>
      </div>

      <gap height="40"></gap>
      <hr />
      <h4>Addition services</h4>
      <div class="columns">
        
        <div class="column">
            <div class="field">
              <label class="label">Choose existing </label>
              
                <select style="height:40px;width: 200px;" [(ngModel)]=selectedService>
                  <option value="">Select dropdown</option>
                  <option *ngFor="let utility of utilities" value={{utility.name}}>{{utility.name}}</option>
                  
                </select>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label class="label">Enter new one </label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Enter your service"
                  
                  [(ngModel)]="newService"
                />
              </div>
            </div>
            
          </div>

          
        <div class="column">
            <div class="field">
                <label class="label">Price</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  placeholder="Enter your price"
                  [(ngModel)]="price"
                />
              </div>
            </div>
            
          </div>
    
        <div class="column"> 
            <div class="addDiv">
                <button class="button is-success" (click)="addService()">Add</button>
            </div>
        </div>
      </div>

      <div class="columns"> 
        <div class="column">
            <div class="tags" >
                <span class="tag is-warning is-medium" *ngFor="let service of boat.additionalServices">
                    Name:{{service.name}} &nbsp; &nbsp; &nbsp;Price:{{service.price}}
                    <button class="delete is-small" (click)="removeService(service)"></button>
                </span>
              </div>  
    
          </div>
      </div>
      
  
      <gap height="30"></gap>

    
   
    
    <gap height="40"></gap>
      <hr />
    <h4>Upload images of your boat</h4>
      <p>(click on image to delete it)</p>
  
      <div class="columns">
        <div class="column">
            <div>
                <label for="file">File</label>
                <input 
                    id="file" 
                    type="file" 
                    (change)="onFileChange($event)">
            </div>
            <div class="block">
                <img *ngFor='let image of boat.images'  [src]="image.content" height="150" width="200px" style="margin: 3px;" (click)=deleteImage(image)> <br/>
                  
                </div>
        </div>
        
      </div>

      <gap height="30"></gap>
      <div class="field">
        <div class="control">
          <button class="button is-link" (click)="validateForm()">Submit</button>
          <p
            class="help is-danger mt-5"
            [ngStyle]="{
              visibility: !validForm ? 'visible' : 'hidden'
            }"
          >
            Please fill in all the form fields!
          </p>
        </div>
      </div>
    </div>

