<div class="body-wrapper">
  <gap></gap>
  <div class="is-flex content is-medium my-5 is-justify-content-center">
    <div class="box p-6 min-width-800">
      <h1 class="title">Login to your Account</h1>
      <hr />
      <div class="field">
        <p class="control">
          <input
            class="input"
            type="email"
            placeholder="Email"
            [(ngModel)]="request.email"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            class="input"
            type="password"
            placeholder="Password"
            [(ngModel)]="request.password"
          />
        </p>
        <p class="help is-danger mt-5">
          {{ errorMessage }}
        </p>
      </div>
      <div class="field mt-5">
        <p class="control">
          <button class="button is-success" (click)="login()">Login</button>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
