<div class="content is-medium">
    <h1 class="title">Boat Owners</h1>
    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th><abbr title="First Name">First Name</abbr></th>
            <th><abbr title="Last Name">Last Name</abbr></th>
            <th><abbr title="Email">Email</abbr></th>
            <th><abbr title="Phone">Phone</abbr></th>
            <th><abbr title="Delete">Delete</abbr></th>
            
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let boatOwner of boatOwners">
              <td>{{boatOwner.id}}</td>
                <td>{{boatOwner.name}}</td>
                <td>{{boatOwner.lastName}}</td>
                <td>{{boatOwner.email}}</td>
                <td>{{boatOwner.phone}}</td>
              <td><button (click)="deleteOwner(boatOwner)">Delete</button></td>
            </tr>
        </tbody>
        
      </table>
    </div>
  </div>
