<div class="content is-medium">
  <h1 class="title">Past Fishing Adventures</h1>
  <hr />
  <div>
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="ID">ID</abbr></th>
          <th><abbr title="Fishing Adventure">Adventure</abbr></th>
          <th><abbr title="Owner">Owner</abbr></th>
          <th><abbr title="Start Date">Start Date</abbr></th>
          <th><abbr title="End Date">End Date</abbr></th>
          <th><abbr title="No. of People">No. of People</abbr></th>
          <th><abbr title="Price">Price</abbr></th>
        </tr>
      </thead>

      <tr *ngFor="let res of reservations">
        <th>{{ res.id }}</th>
        <td>
          <a href="/{{ res.entityType }}/{{ res.entityId }}">{{
            res.entityName
          }}</a>
        </td>
        <td>{{ res.ownerName }}</td>
        <td>{{ res.startDate | date: "short" }}</td>
        <td>{{ res.endDate | date: "short" }}</td>
        <td>{{ res.people }}</td>
        <td>${{ res.price | number }}</td>
      </tr>
    </table>
    <div *ngIf="reservations.length == 0">
      <p>No past adventure reservations to show.</p>
    </div>
  </div>
</div>
